html {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: blue;
    text-shadow: black;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #00539f;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    width: 30%;
    display: block;
    margin: 0 auto;
}
#move {
    text-align: center;
}
  
